@{

}
<h2>hola</h2>

<form action='@Url.Action("compararLetras","Home")' method="post">
Letra: <input type ="text" name ="letra">
<input type="submit" value = "Enviar">
</form>

<form action='@Url.Action("compararPalabra","Home")' method="post">
Palabra: <input type ="text" name ="palabra">
<input type="submit" value = "Enviar">
</form>